/*------------------------------------
  Background Colors
------------------------------------*/
.jsjoe-bg-transparent {
  background-color: transparent;
}

.jsjoe-bg-light-blue-50 {
  background-color: #f8fafd;
}

.jsjoe-bg-light-blue-100 {
  background-color: #f6f9fc;
}

.jsjoe-bg-light-blue-125 {
  background-color: #e7eaf3;
}

.jsjoe-bg-light-yellow-50 {
  background-color: #fcfcf7;
}

.jsjoe-bg-light-yellow-100 {
  background-color: #fcfcf6;
}

.jsjoe-bg-light-yellow-125 {
  background-color: #f1f4e6;
}

.jsjoe-bg-secondary {
  background-color: $secondary;
}

.jsjoe-bg-warning {
  background-color: $warning;
}
