/*------------------------------------
  Fill Colors
------------------------------------*/
.jsjoe-fill-none {
  fill: none;
}

.jsjoe-fill-white {
  fill: #fff;
}

.jsjoe-fill-dark {
  fill: #1e2022;
}

.jsjoe-fill-primary {
  fill: #377dff;
}

.jsjoe-fill-primary-darker {
  fill: #196eff;
}

.jsjoe-fill-primary-lighter {
  fill: #19a0ff;
}

.jsjoe-fill-success {
  fill: #00c9a7;
}

.jsjoe-fill-success-lighter {
  fill: #13d7b6;
}

.jsjoe-fill-info {
  fill: #00dffc;
}

.jsjoe-fill-danger {
  fill: #de4437;
}

.jsjoe-fill-danger-lighter {
  fill: #ec5245;
}

.jsjoe-fill-warning {
  fill: #ffc107;
}

.jsjoe-fill-warning-lighter {
  fill: #fdd14e;
}

.jsjoe-fill-warning-darker {
  fill: #efa02e;
}

.jsjoe-fill-midnightblue {
  fill: #2d1582;
}

.jsjoe-fill-gray-50 {
  fill: #f0f4f7;
}

.jsjoe-fill-gray-75 {
  fill: #f7f7f7;
}

.jsjoe-fill-light-blue-50 {
  fill: #f8fafd;
}

.jsjoe-fill-light-blue-100 {
  fill: #f6f9fc;
}

.jsjoe-fill-light-blue-125 {
  fill: #e7eaf3;
}

/*------------------------------------
  Stop Colors
------------------------------------*/
.jsjoe-stop-color-white {
  stop-color: #fff;
}

.jsjoe-stop-color-primary {
  stop-color: #377dff;
}

.jsjoe-stop-color-primary-darker {
  stop-color: #196eff;
}

.jsjoe-stop-color-primary-lighter {
  stop-color: #19a0ff;
}

.jsjoe-stop-color-warning {
  stop-color: #ffc107;
}

.jsjoe-stop-color-warning-lighter {
  stop-color: #fdd14e;
}

.jsjoe-stop-color-warning-darker {
  stop-color: #efa02e;
}

.jsjoe-stop-color-danger {
  stop-color: #de4437;
}

.jsjoe-stop-color-danger-lighter {
  stop-color: #ec5245;
}

.jsjoe-stop-color-info {
  stop-color: #00dffc;
}

.jsjoe-stop-color-info-lighter {
  stop-color: #55eafe;
}

.jsjoe-stop-color-midnightblue {
  stop-color: #2d1582;
}

/*------------------------------------
  Stroke Colors
------------------------------------*/
.jsjoe-stroke-white {
  stroke: #fff;
}

.jsjoe-stroke-dark {
  stroke: #1e2022;
}

.jsjoe-stroke-primary {
  stroke: #377dff;
}

.jsjoe-stroke-primary-darker {
  stroke: #196eff;
}

.jsjoe-stroke-success {
  stroke: #00c9a7;
}

.jsjoe-stroke-danger {
  stroke: #de4437;
}

.jsjoe-stroke-warning {
  stroke: #ffc107;
}

.jsjoe-stroke-midnightblue {
  stroke: #2d1582;
}

.jsjoe-stroke-gray-50 {
  stroke: #f0f4f7;
}

.jsjoe-stroke-light-blue-125 {
  stroke: #e7eaf3;
}

.jsjoe-stroke-light-blue-150 {
  stroke: #97a4af;
}
