/*------------------------------------
  Z-Index
------------------------------------*/
.z-index-minus-1 {
  z-index: -1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-4 {
  z-index: 4;
}

/*------------------------------------
  Space
------------------------------------*/
.jsjoe-space-1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.jsjoe-space-1-top {
  padding-top: 2rem;
}

.jsjoe-space-0-5-bottom {
  padding-bottom: 1rem;
}

.jsjoe-space-1-bottom {
  padding-bottom: 2rem;
}

.jsjoe-space-2 {
  padding-top: 4.0625rem;
  padding-bottom: 4.0625rem;
}

.jsjoe-space-2-top {
  padding-top: 4.0625rem;
}

.jsjoe-space-2-bottom {
  padding-bottom: 4.0625rem;
}

.jsjoe-space-3 {
  padding-top: 8.125rem;
  padding-bottom: 8.125rem;
}

.jsjoe-space-3-top {
  padding-top: 8.125rem;
}

.jsjoe-space-3-bottom {
  padding-bottom: 8.125rem;
}

.jsjoe-space-4 {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
}

.jsjoe-space-4-top {
  padding-top: 12.5rem;
}

.jsjoe-space-4-bottom {
  padding-bottom: 12.5rem;
}

.jsjoe-space-5 {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.jsjoe-space-5-top {
  padding-top: 15rem;
}

.jsjoe-space-5-bottom {
  padding-bottom: 15rem;
}

.jsjoe-space-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.jsjoe-space-0-top {
  padding-top: 0;
}

.jsjoe-space-0-bottom {
  padding-bottom: 0;
}

@media (min-width: 576px) {
  .jsjoe-space-3--sm {
    padding-top: 8.125rem;
    padding-bottom: 8.125rem;
  }
  .jsjoe-space-5-top--sm {
    padding-top: 15rem;
  }
}

@media (min-width: 768px) {
  .jsjoe-space-1-top--md {
    padding-top: 2rem;
  }
  .jsjoe-space-2-top--md {
    padding-top: 4.0625rem;
  }
  .jsjoe-space-5-top--md {
    padding-top: 15rem;
  }
}

@media (min-width: 992px) {
  .jsjoe-space-3--lg {
    padding-top: 8.125rem;
    padding-bottom: 8.125rem;
  }
  .jsjoe-space-3-top--lg {
    padding-top: 8.125rem;
  }
  .jsjoe-space-4--lg {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }
  .jsjoe-space-4-top--lg {
    padding-top: 12.5rem;
  }
  .jsjoe-space-5-top--lg {
    padding-top: 15rem;
  }
  .jsjoe-space-5-bottom--lg {
    padding-bottom: 15rem;
  }
  .jsjoe-space-0--lg {
    padding-top: 0;
    padding-bottom: 0;
  }
  .jsjoe-space-bottom-0--lg {
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .jsjoe-space-4-top--xl {
    padding-top: 12.5rem;
  }
  .jsjoe-space-5-top--xl {
    padding-top: 15rem;
  }
}
